.custom-shape-divider-top-1681098218 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1681098218 svg {
    position: relative;
    display: block;
    width: calc(111% + 1.3px);
    height: 600px;
}

.custom-shape-divider-top-1681098218 .shape-fill {
    fill: rgb(240, 240, 240);
}

.landing_info_container {
    position: relative;
    background: linear-gradient(#5F5E96, #83bcdc);
    position: relative;   
};
